* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }
  * audio {
    width: 100%; }

body {
  background: #848383;
  font-size: 1em; }
  body .red {
    color: red; }
  body .width_100_percent {
    width: 100%; }
  body .current-instruction {
    background: #fffa90; }
  body screen_error,
  body error_title,
  body btn_close_modal {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    border: #666666 2px solid;
    padding: .6rem;
    border-radius: .4rem;
    text-align: center;
    margin: .2rem; }
  body error_title_icon {
    display: block;
    background: url(../images/svg/error_title_icon.svg);
    background-repeat: no-repeat;
    background-size: contain; }
  body btn_close_icon {
    display: block;
    background: url(../images/svg/btn_close_icon.svg);
    background-repeat: no-repeat;
    background-size: contain; }
  body modal_window {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(160, 160, 160, 0.5);
    z-index: 1; }
    body modal_window screen_error {
      display: block;
      height: auto;
      background: white;
      padding: 0;
      width: 25%;
      margin: 10% auto 0 auto;
      z-index: 2;
      border-radius: 10px; }
      body modal_window screen_error error_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        background: linear-gradient(#c8313f, #dfd9da); }
        body modal_window screen_error error_title error_title_icon {
          width: 10%;
          height: 2rem; }
        body modal_window screen_error error_title span {
          color: white;
          width: 90%;
          text-align: center; }
      body modal_window screen_error error-msg {
        display: block;
        height: auto;
        max-height: 15rem;
        padding: 1rem;
        overflow-y: scroll; }
      body modal_window screen_error btn_close_modal {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 41%;
        margin: 1rem auto 1rem auto;
        cursor: pointer;
        background: linear-gradient(#92c83d, #d5df23); }
        body modal_window screen_error btn_close_modal btn_close_icon {
          width: 10%;
          height: 1rem; }
        body modal_window screen_error btn_close_modal span {
          width: 90%;
          text-align: center; }
  body content_view {
    display: block;
    padding: .5rem;
    width: 1024px;
    height: 768px;
    background: #c4c4c4;
    margin: 1rem auto;
    border-radius: 10px; }
    body content_view help_btn,
    body content_view back_btn,
    body content_view screen_error,
    body content_view error_title,
    body content_view title_block,
    body content_view data_structure,
    body content_view data_pseudocode,
    body content_view comments_block,
    body content_view procedures_block,
    body content_view control_btn,
    body content_view view_page,
    body content_view ul.algorithms_nav li {
      display: inline-block;
      text-transform: uppercase;
      font-weight: bold;
      border: #666666 2px solid;
      padding: .6rem;
      border-radius: .4rem;
      text-align: center;
      margin: .2rem; }
    body content_view item {
      display: inline-block;
      border: #666666 2px solid;
      padding: .4rem;
      border-radius: 20px;
      border-radius: 20px;
      height: 30px;
      width: 30px;
      text-align: center; }
    body content_view bst-item {
      display: block;
      border: #666666 2px solid;
      padding: .4rem;
      border-radius: 20px;
      border-radius: 20px;
      height: 30px;
      width: 30px;
      text-align: center;
      position: absolute; }
    body content_view active_field {
      display: block;
      overflow-y: scroll;
      word-wrap: break-word;
      text-align: justify;
      text-transform: none;
      padding: 0.5rem; }
    body content_view double_arrow_left {
      display: block;
      background: url(../images/svg/double_arrow_left.svg);
      background-repeat: no-repeat;
      background-size: contain; }
    body content_view arrow_down {
      display: block;
      background: url(../images/svg/arrow_down.svg);
      background-repeat: no-repeat;
      background-size: contain; }
    body content_view help_btn_icon {
      display: block;
      background: url(../images/svg/help_btn_icon.svg);
      background-repeat: no-repeat;
      background-size: contain; }
    body content_view .start > control_icon {
      background: url(../images/svg/start_btn_icon.svg);
      display: block;
      background-repeat: no-repeat;
      background-size: contain; }
    body content_view .back > control_icon {
      background: url(../images/svg/back_btn_icon.svg);
      display: block;
      background-repeat: no-repeat;
      background-size: contain; }
    body content_view .pause > control_icon {
      background: url(../images/svg/pause_btn_icon.svg);
      display: block;
      background-repeat: no-repeat;
      background-size: contain; }
    body content_view .forward > control_icon {
      background: url(../images/svg/forward_btn_icon.svg);
      display: block;
      background-repeat: no-repeat;
      background-size: contain; }
    body content_view .stop > control_icon {
      background: url(../images/svg/stop_btn_icon.svg);
      display: block;
      background-repeat: no-repeat;
      background-size: contain; }
    body content_view view_header {
      display: flex;
      align-items: center;
      justify-content: center; }
      body content_view view_header back_btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30%;
        text-align: center;
        cursor: pointer;
        background: linear-gradient(#92c83d, #d5df23); }
        body content_view view_header back_btn double_arrow_left {
          width: 10%;
          height: 1rem; }
        body content_view view_header back_btn span {
          width: 90%;
          text-align: center; }
      body content_view view_header title_block {
        width: 70%;
        color: white;
        background: linear-gradient(#37b44a, #029345); }
    body content_view view_page {
      text-align: justify;
      text-transform: none;
      background: #fff;
      font-weight: normal; }
      body content_view view_page p,
      body content_view view_page ul {
        margin: 0 0 .4rem 0; }
      body content_view view_page li {
        list-style-position: inside; }
      body content_view view_page ul.algorithms_nav {
        margin: .4rem auto .4rem auto; }
        body content_view view_page ul.algorithms_nav li {
          background: linear-gradient(#c8aa27, #c8bd4e);
          background-repeat: no-repeat;
          color: #fff;
          width: 50%;
          text-align: left; }
          body content_view view_page ul.algorithms_nav li a {
            text-align: left; }
          body content_view view_page ul.algorithms_nav li a:visited,
          body content_view view_page ul.algorithms_nav li a:link,
          body content_view view_page ul.algorithms_nav li a:hover {
            color: white;
            text-decoration: none; }
          body content_view view_page ul.algorithms_nav li a:after {
            display: inline-block;
            background: url(../images/svg/double_arrow_left_white.svg);
            background-repeat: no-repeat;
            background-size: contain;
            content: "\00A0";
            width: 2rem;
            float: right; }
    body content_view view_row {
      display: flex;
      width: 100%;
      align-items: flex-start;
      justify-content: center; }
      body content_view view_row data_structure {
        height: 22rem;
        background: white;
        padding: 0;
        width: 70%; }
        body content_view view_row data_structure title_block {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0;
          border-top: 0;
          border-right: 0;
          border-left: 0;
          background: linear-gradient(#92c83d, #d5df23); }
          body content_view view_row data_structure title_block arrow_down {
            width: 10%;
            height: 1rem; }
          body content_view view_row data_structure title_block span {
            width: 90%;
            text-align: center; }
        body content_view view_row data_structure active_field {
          height: 19rem;
          /* The animation code */ }
@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px; }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px; }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px; }
  75% {
    background-color: green;
    left: 0px;
    top: 200px; }
  100% {
    background-color: red;
    left: 0px;
    top: 0px; } }
@keyframes root_to_left_node_1_1 {
  0% {
    background-color: red;
    left: 20rem;
    top: 0px; }
  25% {
    background-color: yellow;
    left: 19rem;
    top: 1rem; }
  50% {
    background-color: blue;
    left: 18rem;
    top: 1rem; }
  75% {
    background-color: green;
    left: 17rem;
    top: 1.5rem; }
  100% {
    background-color: red;
    left: 16rem;
    top: 2rem; } }
@-webkit-keyframes slide {
  from {
    left: 20rem;
    top: 0px; }
  to {
    left: 20rem;
    top: 40px; } }
          body content_view view_row data_structure active_field item {
            position: relative;
            animation-name: example;
            animation-duration: 4s; }
          body content_view view_row data_structure active_field bst-structure {
            display: block;
            position: relative; }
            body content_view view_row data_structure active_field bst-structure .root {
              left: 325px;
              right: 0; }
            body content_view view_row data_structure active_field bst-structure ._1_1 {
              left: 280px;
              top: 32px; }
            body content_view view_row data_structure active_field bst-structure ._1_2 {
              left: 370px;
              top: 32px; }
            body content_view view_row data_structure active_field bst-structure ._2_1 {
              left: 235px;
              top: 64px; }
            body content_view view_row data_structure active_field bst-structure ._2_2 {
              left: 320px;
              top: 64px; }
            body content_view view_row data_structure active_field bst-structure ._2_3 {
              left: 336px;
              top: 64px; }
            body content_view view_row data_structure active_field bst-structure ._2_4 {
              left: 40px;
              top: 64px; }
      body content_view view_row right_block {
        width: 30%; }
        body content_view view_row right_block comments_block {
          height: 17rem;
          background: white;
          padding: 0;
          width: 100%; }
          body content_view view_row right_block comments_block title_block {
            margin: 0;
            border-top: 0;
            border-right: 0;
            border-left: 0;
            background: linear-gradient(#92c83d, #d5df23); }
          body content_view view_row right_block comments_block active_field {
            height: 187px; }
        body content_view view_row right_block procedures_block {
          height: 17em;
          background: white;
          padding: 0;
          width: 98%; }
          body content_view view_row right_block procedures_block title_block {
            margin: 0;
            border-top: 0;
            border-right: 0;
            border-left: 0;
            background: linear-gradient(#92c83d, #d5df23); }
          body content_view view_row right_block procedures_block active_field {
            overflow-y: scroll; }
            body content_view view_row right_block procedures_block active_field ul {
              height: 12rem; }
              body content_view view_row right_block procedures_block active_field ul li {
                border: #666666 2px solid;
                background: linear-gradient(#a1a2c8, #dad6df);
                padding: .6rem;
                border-radius: .4rem;
                text-align: center;
                margin: .2rem;
                color: #fff;
                list-style: none; }
              body content_view view_row right_block procedures_block active_field ul li.current {
                background: linear-gradient(#c87223, #c81722);
                background-repeat: no-repeat;
                color: #fff; }
                body content_view view_row right_block procedures_block active_field ul li.current span:before {
                  display: inline-block;
                  background: url(../images/svg/double_arrow_left_white.svg);
                  background-repeat: no-repeat;
                  background-size: contain;
                  content: "\00A0";
                  width: 2rem;
                  float: left; }
      body content_view view_row data_pseudocode {
        height: 17rem;
        background: white;
        padding: 0;
        width: 70%; }
        body content_view view_row data_pseudocode title_block {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0;
          border-top: 0;
          border-right: 0;
          border-left: 0;
          background: linear-gradient(#92c83d, #d5df23); }
          body content_view view_row data_pseudocode title_block arrow_down {
            width: 10%;
            height: 1rem;
            height: 1rem; }
          body content_view view_row data_pseudocode title_block span {
            width: 90%; }
          body content_view view_row data_pseudocode title_block span.localization {
            text-align: right; }
          body content_view view_row data_pseudocode title_block span.js_procedure_name {
            text-transform: none;
            text-align: left; }
        body content_view view_row data_pseudocode active_field {
          height: 210px; }
          body content_view view_row data_pseudocode active_field ol {
            list-style: none;
            padding: 3px; }
            body content_view view_row data_pseudocode active_field ol li::before {
              content: counter(li);
              color: black;
              display: inline-block;
              width: 1.3em;
              margin: 0 1em 0 0;
              background: no-repeat url("../images/svg/code_part_li.svg");
              background-size: contain;
              text-align: center;
              font-weight: bold; }
            body content_view view_row data_pseudocode active_field ol li {
              counter-increment: li;
              margin: 0 0 .5em 0; }
      body content_view view_row help_btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 15%;
        text-align: center;
        cursor: pointer;
        background: linear-gradient(#92c83d, #d5df23); }
        body content_view view_row help_btn help_btn_icon {
          width: 10%;
          height: 1rem; }
        body content_view view_row help_btn span {
          width: 90%;
          text-align: center; }
      body content_view view_row control_btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 12%;
        color: white;
        cursor: pointer;
        background: linear-gradient(#29a1db, #2e3e9a); }
        body content_view view_row control_btn span {
          width: 90%;
          text-align: center; }
        body content_view view_row control_btn control_icon {
          width: 10%;
          height: 1rem;
          width: 1rem;
          margin: 0 .3rem 0 .2rem; }
        body content_view view_row control_btn start-control_icon {
          width: 10%;
          height: 1rem; }
    body content_view view-footer {
      display: block; }
      body content_view view-footer p {
        font-size: .8rem; }

/*# sourceMappingURL=main.css.map */
