help_btn,
back_btn,
screen_error,
error_title,
title_block,
data_structure,
data_pseudocode,
comments_block,
procedures_block,
control_btn,
view_page,
ul.algorithms_nav li {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  border: #666666 2px solid;
  padding: .6rem;
  border-radius: .4rem;
  text-align: center;
  margin: .2rem; }

item {
  display: inline-block;
  border: #666666 2px solid;
  padding: .4rem;
  border-radius: 20px;
  border-radius: 20px;
  height: 30px;
  width: 30px;
  text-align: center; }

bst-item {
  font-size: .8em;
  display: block;
  border: #666666 2px solid;
  padding: .4rem;
  border-radius: 20px;
  width: 31px;
  height: 31px;
  text-align: center;
  position: absolute;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36.4 36.5'%3E%3CradialGradient id='a' cx='18.225' cy='30.598' r='18.27' gradientTransform='matrix(1 0 0 .9445 0 -10.644)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.044' stop-color='%232aaae2'/%3E%3Cstop offset='.292' stop-color='%232aaae2'/%3E%3Cstop offset='.487' stop-color='%23239cd8'/%3E%3Cstop offset='.893' stop-color='%23167ac0'/%3E%3Cstop offset='1' stop-color='%231072ba'/%3E%3C/radialGradient%3E%3Cellipse fill='url(%23a)' stroke='%234E4E4E' stroke-miterlimit='10' cx='18.2' cy='18.3' rx='17.7' ry='17.8'/%3E%3CradialGradient id='b' cx='17.822' cy='261.409' r='12.041' gradientTransform='matrix(1 0 0 .5169 0 -126.696)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fff'/%3E%3Cstop offset='1' stop-color='%23cdcccc' stop-opacity='.1'/%3E%3C/radialGradient%3E%3Cellipse fill='url(%23b)' cx='17.8' cy='8.4' rx='11.7' ry='6.4'/%3E%3C/svg%3Es"); }

active_field {
  display: block;
  overflow-y: scroll;
  word-wrap: break-word;
  text-align: justify;
  text-transform: none;
  padding: 0.5rem; }

double_arrow_left {
  display: block;
  background: url(../images/svg/double_arrow_left.svg);
  background-repeat: no-repeat;
  background-size: contain; }

arrow_down {
  display: block;
  background: url(../images/svg/arrow_down.svg);
  background-repeat: no-repeat;
  background-size: contain; }

help_btn_icon {
  display: block;
  background: url(../images/svg/help_btn_icon.svg);
  background-repeat: no-repeat;
  background-size: contain; }

.start > control_icon {
  background: url(../images/svg/start_btn_icon.svg);
  display: block;
  background-repeat: no-repeat;
  background-size: contain; }

.back > control_icon {
  background: url(../images/svg/back_btn_icon.svg);
  display: block;
  background-repeat: no-repeat;
  background-size: contain; }

.pause > control_icon {
  background: url(../images/svg/pause_btn_icon.svg);
  display: block;
  background-repeat: no-repeat;
  background-size: contain; }

.forward > control_icon {
  background: url(../images/svg/forward_btn_icon.svg);
  display: block;
  background-repeat: no-repeat;
  background-size: contain; }

.stop > control_icon {
  background: url(../images/svg/stop_btn_icon.svg);
  display: block;
  background-repeat: no-repeat;
  background-size: contain; }

/*# sourceMappingURL=style-for-boxes.css.map */
