* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    audio {
        width: 100%;
    }
}
body {
    background: #848383;
    font-size: 1em;
    content-view {
        @import "style-for-boxes";
        display: block;
        padding: .5rem;
        width: 1024px;
        height: 768px;
        background: #c4c4c4;
        margin: 1rem auto;
        border-radius: 10px;
        view-header {
            display: flex;
            align-items: center;
            justify-content: center;
            back-btn {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 30%;
                text-align: center;
                cursor: pointer;
                background: linear-gradient(#92c83d, #d5df23);
                double-arrow-right {
                    width: 10%;
                    height: 1rem;
                }
                span {
                    width: 90%;
                    text-align: center;
                }
            }
            title-block {
                width:70%;
                color: white;
                background: linear-gradient(#37b44a, #029345);

            }
        }
        view-row {
            display: flex;
            width: 100%;
            align-items: flex-start;
            justify-content: center;
            data-structure {
                height: 22rem;
                background: white;
                padding: 0;
                width: 70%;
                title-block {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0;
                    border-top:0;
                    border-right: 0;
                    border-left:0;
                    background: linear-gradient(#92c83d, #d5df23);
                    arrow-down {
                        width: 10%;
                        height: 1rem;
                    }
                    span {
                        width: 90%;
                        text-align: center;
                    }
                }
                active-field {

                }
            }
            right-block {
                width: 30%;
                comments-block {
                    height: 17rem;
                    background: white;
                    padding: 0;
                    width: 100%;
                    title-block {
                        margin: 0;
                        border-top:0;
                        border-right: 0;
                        border-left:0;
                        background: linear-gradient(#92c83d, #d5df23);
                    }
                    active-field {

                    }
                }                
                procedures-block {
                    height: 17em;
                    background: white;
                    padding: 0;
                    width: 98%;
                    title-block {
                        margin: 0;
                        border-top:0;
                        border-right: 0;
                        border-left:0;
                        background: linear-gradient(#92c83d, #d5df23);
                    }
                    active-field {
                        overflow-y: scroll;

                    }
                }
            }
            data-pseudocode {
                height: 17rem;
                background: white;
                padding: 0;
                width: 70%;
                title-block {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0;
                    border-top:0;
                    border-right: 0;
                    border-left:0;
                    background: linear-gradient(#92c83d, #d5df23);
                    arrow-down {
                        width: 10%;

                        height: 1rem;
                    }
                    span {
                        width: 90%;
                        text-align: center;
                    }
                }
                active-field {
                    overflow-y: scroll;
                }
            }
            help-btn {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 15%;
                text-align: center;
                cursor: pointer;
                background: linear-gradient(#92c83d, #d5df23);
                help-btn-icon {
                    width: 10%;
                    height: 1rem;
                }
                span {
                    width: 90%;
                    text-align: center;
                }
            }
            control-btn {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 12%;
                color: white;
                cursor: pointer;
                background: linear-gradient(#29a1db, #2e3e9a);    
                control-icon {
                    width: 10%;
                    height: 1rem; 
                    width: 1rem;
                    margin: 0 .3rem 0 .2rem;
                }
                start-control-icon {
                    width: 10%;
                    height: 1rem; 
                }
            }
        }
        view-footer {
            display: block;   
            p {
                font-size: .8rem;
            }
        }
    }
}
