* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    audio {
        width: 100%;
    }
}

body {
    background: #848383;
    font-size: 1em;
    .red {
        color: red;
    }
    .width_100_percent {
        width:100%;
    }
    .current-instruction {
        background: #fffa90;
    }
    @import "style-for-modal-window";
       content_view {
        @import "style-for-boxes";
        display: block;
        padding: .5rem;
        width: 1024px;
        height: 768px;
        background: #c4c4c4;
        margin: 1rem auto;
        border-radius: 10px;
        view_header {
            display: flex;
            align-items: center;
            justify-content: center;
            back_btn {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 30%;
                text-align: center;
                cursor: pointer;
                background: linear-gradient(#92c83d, #d5df23);
                double_arrow_left {
                    width: 10%;
                    height: 1rem;
                }
                span {
                    width: 90%;
                    text-align: center;
                }
            }
            title_block {
                width:70%;
                color: white;
                background: linear-gradient(#37b44a, #029345);
            }
        }
        view_page {
            text-align: justify;
            text-transform: none;
            background: #fff;
            font-weight: normal;
            p,
            ul{
                margin: 0 0 .4rem 0;
            }
            li {
                list-style-position: inside;
            }
            ul.algorithms_nav {
                margin: .4rem auto .4rem auto;
                li {
                    background: linear-gradient(#c8aa27, #c8bd4e);
                    background-repeat: no-repeat;
                    color: #fff;
                    width: 50%;
                    text-align: left;
                    a {
                        text-align: left;
                    }
                    a:visited,
                    a:link,
                    a:hover {
                        color: white;
                        text-decoration: none;

                    }
                    a:after {
                        display: inline-block;
                        background: url(../images/svg/double_arrow_left_white.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        content: "\00A0";
                        width: 2rem;
                        float: right;
                    }
                }
            }
        }
        view_row {
            display: flex;
            width: 100%;
            align-items: flex-start;
            justify-content: center;
            data_structure {
                height: 22rem;
                background: white;
                padding: 0;
                width: 70%;
                title_block {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0;
                    border-top:0;
                    border-right: 0;
                    border-left:0;
                    background: linear-gradient(#92c83d, #d5df23);
                    arrow_down {
                        width: 10%;
                        height: 1rem;
                    }
                    span {
                        width: 90%;
                        text-align: center;
                    }
                }
                active_field {
                    /* The animation code */
                    @keyframes example {
                        0%   {background-color:red; left:0px; top:0px;}
                        25%  {background-color:yellow; left:200px; top:0px;}
                        50%  {background-color:blue; left:200px; top:200px;}
                        75%  {background-color:green; left:0px; top:200px;}
                        100% {background-color:red; left:0px; top:0px;}
                    }
                    item {
                        position: relative;
                        animation-name: example;
                        animation-duration: 4s;
                    }

                }
            }
            right_block {
                width: 30%;
                comments_block {
                    height: 17rem;
                    background: white;
                    padding: 0;
                    width: 100%;
                    title_block {
                        margin: 0;
                        border-top:0;
                        border-right: 0;
                        border-left:0;
                        background: linear-gradient(#92c83d, #d5df23);
                    }
                    active_field {
                        height: 187px;
                    }
                }                
                procedures_block {
                    height: 17em;
                    background: white;
                    padding: 0;
                    width: 98%;
                    title_block {
                        margin: 0;
                        border-top:0;
                        border-right: 0;
                        border-left:0;
                        background: linear-gradient(#92c83d, #d5df23);
                    }
                    active_field {
                        overflow-y: scroll;
                        ul {
                            height: 12rem;
                            li {
                                border: #666666 2px solid;
                                background: linear-gradient(#a1a2c8, #dad6df);
                                padding: .6rem;
                                border-radius: .4rem;
                                text-align: center;
                                margin: .2rem;
                                color: #fff;
                                list-style: none;
                            }
                            li.current {
                                background: linear-gradient(#c87223, #c81722);
                                background-repeat: no-repeat;
                                color: #fff;
                                span:before {
                                    display: inline-block;
                                    background: url(../images/svg/double_arrow_left_white.svg);
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    content: "\00A0";
                                    width: 2rem;
                                    float: left;
                                }
                            }
                        }
                    }
                }
            }
            data_pseudocode {
                height: 17rem;
                background: white;
                padding: 0;
                width: 70%;
                title_block {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0;
                    border-top:0;
                    border-right: 0;
                    border-left:0;
                    background: linear-gradient(#92c83d, #d5df23);
                    arrow_down {
                        width: 10%;
                        height: 1rem;
                        height: 1rem;
                    }
                    span {
                        width: 90%;
                        text-align: center;
                        .js_procedure_name {
                            text-transform: none;
                        }
                    }
                }
                active_field {
                    height: 210px;
                    ol {
                        list-style: none;
                        padding:3px;
                        li::before {
                            content: counter(li);
                            color: black;
                            display: inline-block;
                            width: 1.3em;
                            margin:0 1em 0 0;
                            background: no-repeat url("../images/svg/code_part_li.svg");
                            background-size: contain;
                            text-align: center;
                            font-weight: bold;
                        }
                        li {
                            counter-increment: li;
                            margin: 0 0 .5em 0;
                        }
                    }
                }
            }
            help_btn {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 15%;
                text-align: center;
                cursor: pointer;
                background: linear-gradient(#92c83d, #d5df23);
                help_btn_icon {
                    width: 10%;
                    height: 1rem;
                }
                span {
                    width: 90%;
                    text-align: center;
                }
            }
            control_btn {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 12%;
                color: white;
                cursor: pointer;
                background: linear-gradient(#29a1db, #2e3e9a);    
                span {
                    width: 90%;
                    text-align: center;
                }
                control_icon {
                    width: 10%;
                    height: 1rem; 
                    width: 1rem;
                    margin: 0 .3rem 0 .2rem;
                }
                start-control_icon {
                    width: 10%;
                    height: 1rem; 
                }
            }
        }
        view-footer {
            display: block;   
            p {
                font-size: .8rem;
            }
        }
    }
}
