bst-structure {
    display: block;
    position: relative;
    .root {
        left: 325px;
        right: 0;
    }
    bst-item#bst_item_0{left:374px;top:10px}
    bst-item#bst_item_1{left:189px;top:52px}
    bst-item#bst_item_1:before {
        background:#000;
        width:156px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        border-radius:10px;
        top:-7px;left:31px;
        -webkit-transform:rotate(-14deg);
        transform:rotate(-14deg)
    }
    bst-item#bst_item_2{left:558px;top:52px}
    bst-item#bst_item_2:before{
        background:#000;
        width:156px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        border-radius:10px;
        top:-7px;
        left:-153px;
        -webkit-transform:rotate(14deg);
        transform:rotate(14deg)
    }
    bst-item#bst_item_3{left:85px;top:103px}
    bst-item#bst_item_3:before{
        background:#000;
        width:79px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-13px;
        left:28px;
        border-radius:10px;
        -webkit-transform:rotate(153deg);
        transform:rotate(153deg)
    }
    bst-item#bst_item_4{left:265px;top:103px}
    bst-item#bst_item_4:before{
        background:#000;
        width:59px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-13px;
        left:-49px;
        border-radius:10px;
        -webkit-transform:rotate(30deg);
        transform:rotate(30deg)
    }bst-item#bst_item_5{ left:453px;	top:103px}
    bst-item#bst_item_5:before{
        background:#000;
        width:84px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-13px;
        left:28px;
        border-radius:10px;
        -webkit-transform:rotate(153deg);
        transform:rotate(153deg)
    }
    bst-item#bst_item_6{left:636px;top:103px}
    bst-item#bst_item_6:before{
        background:#000;
        width:64px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-13px;
        left:-54px;
        border-radius:10px;
        -webkit-transform:rotate(30deg);
        transform:rotate(30deg)
    }
    bst-item#bst_item_7{left:32px;top:147px}
    bst-item#bst_item_7:before{
        background:#000;
        width:35px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-9px;
        left:23px;
        border-radius:10px;
        -webkit-transform:rotate(-39deg);
        transform:rotate(-39deg)
    }
    bst-item#bst_item_8{left:122px;top:147px}
    bst-item#bst_item_8:before{
        background:#000;
        width:24px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-9px;
        left:-11px;
        border-radius:10px;
        -webkit-transform:rotate(39deg);
        transform:rotate(39deg)
    }
    bst-item#bst_item_9{left:215px;top:147px}
    bst-item#bst_item_9:before{
        background:#000;
        width:35px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-9px;
        left:23px;
        border-radius:10px;
        -webkit-transform:rotate(-39deg);
        transform:rotate(-39deg)
    }
    bst-item#bst_item_10{left:310px;top:147px}
    bst-item#bst_item_10:before{
        background:#000;
        width:30px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-9px;
        left:-19px;
        border-radius:10px;
        -webkit-transform:rotate(39deg);
        transform:rotate(39deg)
    }
    bst-item#bst_item_11{left:403px;top:147px}
    bst-item#bst_item_11:before{
        background:#000;
        width:32px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-9px;
        left:23px;
        border-radius:10px;
        -webkit-transform:rotate(-39deg);
        transform:rotate(-39deg)
    }
    bst-item#bst_item_12{left:496px;top:147px}
    bst-item#bst_item_12:before{
        background:#000;
        width:29px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-9px;
        left:-17px;
        border-radius:10px;
        -webkit-transform:rotate(39deg);
        transform:rotate(39deg)
    }
    bst-item#bst_item_13{left:587px;top:147px}
    bst-item#bst_item_13:before{
        background:#000;
        width:31px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-9px;
        left:23px;
        border-radius:10px;
        -webkit-transform:rotate(-39deg);
        transform:rotate(-39deg)
    }
    bst-item#bst_item_14{left:681px;top:147px}
    bst-item#bst_item_14:before{
        background:#000;
        width:30px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-9px;
        left:-19px;
        border-radius:10px;
        -webkit-transform:rotate(39deg);
        transform:rotate(39deg)
    }
    bst-item#bst_item_15{left:6px;top:190px}
    bst-item#bst_item_15:before{
        background:#000;
        width:17px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-5px;
        left:23px;
        border-radius:10px;
        -webkit-transform:rotate(-55deg);
        transform:rotate(-55deg)
    }
    bst-item#bst_item_16{left:53px;top:190px}
    bst-items   #bst_item_16:before{
        background:#000;
        width:17px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-5px;
        left:-7px;
        border-radius:10px;
        -webkit-transform:rotate(-127deg);
        transform:rotate(-127deg)
    }
    bst-item#bst_item_17{left:97px;top:190px}
    bst-item#bst_item_17:before{
        background:#000;
        width:17px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-5px;
        left:23px;
        border-radius:10px;
        -webkit-transform:rotate(-55deg);
        transform:rotate(-55deg)
    }
    bst-item#bst_item_18{left:144px;top:190px}
    bst-item#bst_item_18:before{
        background:#000;
        width:17px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-5px;
        left:-7px;
        border-radius:10px;
        -webkit-transform:rotate(-127deg);
        transform:rotate(-127deg)
    }
    bst-item#bst_item_19{left:190px;top:190px}
    bst-item#bst_item_19:before{
        background:#000;
        width:17px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-5px;
        left:23px;
        border-radius:10px;
        -webkit-transform:rotate(-55deg);
        transform:rotate(-55deg)
    }
    bst-item#bst_item_20{left:237px;top:190px}
    bst-item#bst_item_20:before{
        background:#000;
        width:17px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-5px;
        left:-7px;
        border-radius:10px;
        -webkit-transform:rotate(-127deg);
        transform:rotate(-127deg)
    }
    bst-item#bst_item_21{left:286px;top:190px}
    bst-item#bst_item_21:before{
        background:#000;
        width:17px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-5px;
        left:23px;
        border-radius:10px;
        -webkit-transform:rotate(-55deg);
        transform:rotate(-55deg)
    }
    bst-item#bst_item_22{left:334px;top:190px}
    bst-item#bst_item_22:before{
        background:#000;
        width:17px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-5px;
        left:-7px;
        border-radius:10px;
        -webkit-transform:rotate(-127deg);
        transform:rotate(-127deg)
    }
    bst-item#bst_item_23{left:380px;top:190px}
    bst-item#bst_item_23:before{
        background:#000;
        width:17px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-5px;
        left:23px;
        border-radius:10px;
        -webkit-transform:rotate(-55deg);
        transform:rotate(-55deg)
    }
    bst-item#bst_item_24{left:425px;top:190px}
    bst-item#bst_item_24:before{
        background:#000;
        width:17px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-5px;
        left:-7px;
        border-radius:10px;
        -webkit-transform:rotate(-127deg);
        transform:rotate(-127deg)
    }
    bst-item#bst_item_25{left:472px;top:190px}
    bst-item#bst_item_25:before{
        background:#000;
        width:17px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-5px;
        left:23px;
        border-radius:10px;
        -webkit-transform:rotate(-55deg);
        transform:rotate(-55deg)
    }
    bst-item#bst_item_26{left:520px;top:190px}
    bst-item#bst_item_26:before{
        background:#000;
        width:17px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-5px;
        left:-7px;
        border-radius:10px;
        -webkit-transform:rotate(-127deg);
        transform:rotate(-127deg)
    }
    bst-item#bst_item_27{left:564px;top:190px}
    bst-item#bst_item_27:before{
        background:#000;
        width:17px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-5px;
        left:23px;
        border-radius:10px;
        -webkit-transform:rotate(-55deg);
        transform:rotate(-55deg)
    }
    bst-item#bst_item_28{left:609px;top:190px}
    bst-item#bst_item_28:before{
        background:#000;
        width:17px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-5px;
        left:-7px;
        border-radius:10px;
        -webkit-transform:rotate(-127deg);
        transform:rotate(-127deg)
    }
    bst-item#bst_item_29{left:657px;top:190px}
    bst-item#bst_item_29:before{
        background:#000;
        width:17px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-5px;
        left:23px;
        border-radius:10px;
        -webkit-transform:rotate(-55deg);
        transform:rotate(-55deg)
    }
    bst-item#bst_item_30{left:703px;top:190px}
    bst-item#bst_item_30:before{
        background:#000;
        width:17px;
        height:2px;
        display:block;
        border:1px solid #000;
        content:"";
        position:absolute;
        top:-5px;
        left:-7px;
        border-radius:10px;
        -webkit-transform:rotate(-127deg);
        transform:rotate(-127deg)
    }
}