back-btn,
title-block,
data-structure,
comments-block{
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    border: #666666 2px solid;
    padding: .6rem;
    border-radius: .4rem;
    text-align: center;
    margin: .2rem;
}
double-arrow-right {
    display: block;
    background: url(../images/svg/double-arrow-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

arrow-down {
    display: block;
    background: url(../images/svg/arrow-down.svg);
    background-repeat: no-repeat;
    background-size: contain;
}