help-btn,
back-btn,
title-block,
data-structure,
data-pseudocode,
comments-block,
procedures-block,
control-btn {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    border: #666666 2px solid;
    padding: .6rem;
    border-radius: .4rem;
    text-align: center;
    margin: .2rem;
}

active-field {
    display: block;
    overflow-y: scroll;
    word-wrap: break-word;
}

double-arrow-right {
    display: block;
    background: url(../images/svg/double-arrow-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

arrow-down {
    display: block;
    background: url(../images/svg/arrow-down.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

help-btn-icon {
    display: block;
    background: url(../images/svg/help-btn-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.start > control-icon {
    background: url(../images/svg/start-btn-icon.svg);
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}

.back > control-icon {
    background: url(../images/svg/back-btn-icon.svg);
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}

.pause > control-icon {
    background: url(../images/svg/pause-btn-icon.svg);
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}

.forward > control-icon {
    background: url(../images/svg/forward-btn-icon.svg);
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}

.stop > control-icon {
    background: url(../images/svg/stop-btn-icon.svg);
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}