bst-structure {
    display: block;
    position: relative;
    .root {
        left: 325px;
        right: 0;
    }
    ._1_1 { left: 280px; top: 32px; }
    ._1_2 { left: 370px; top: 32px; }

    ._2_1 { left: 235px; top: 64px; }
    ._2_2 { left: 320px; top: 64px; }
    ._2_3 { left: 336px; top: 64px; }
    ._2_4 { left: 404px; top: 64px; }
}