help_btn,
back_btn,
screen_error,
error_title,
title_block,
data_structure,
data_pseudocode,
comments_block,
procedures_block,
control_btn,
view_page,
ul.algorithms_nav li {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    border: #666666 2px solid;
    padding: .6rem;
    border-radius: .4rem;
    text-align: center;
    margin: .2rem;
}

item {
    display: inline-block;
    border: #666666 2px solid;
    padding: .4rem;
    border-radius: 20px;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
}

active_field {
    display: block;
    overflow-y: scroll;
    word-wrap: break-word;
    text-align: justify;
    text-transform: none; 
    padding: 0.5rem;
}

double_arrow_left {
    display: block;
    background: url(../images/svg/double_arrow_left.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

arrow_down {
    display: block;
    background: url(../images/svg/arrow_down.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

help_btn_icon {
    display: block;
    background: url(../images/svg/help_btn_icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.start > control_icon {
    background: url(../images/svg/start_btn_icon.svg);
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}

.back > control_icon {
    background: url(../images/svg/back_btn_icon.svg);
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}

.pause > control_icon {
    background: url(../images/svg/pause_btn_icon.svg);
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}

.forward > control_icon {
    background: url(../images/svg/forward_btn_icon.svg);
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}

.stop > control_icon {
    background: url(../images/svg/stop_btn_icon.svg);
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}